<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>gorest.PostOperation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deletUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>creatUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateUser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
