<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fcf7f">  <td>23/01/24 19:02:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostOperation.deletUser()[pri:4, instance:gorest.PostOperation@ec756bd]">deletUser</td> 
  <td>main@1923598304</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>23/01/24 19:02:04</td>   <td>-2479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostOperation.getUser()[pri:1, instance:gorest.PostOperation@ec756bd]">getUser</td> 
  <td>main@1923598304</td>   <td></td> </tr>
<tr bgcolor="9fcf7f">  <td>23/01/24 19:02:06</td>   <td>-655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostOperation.updateUser()[pri:2, instance:gorest.PostOperation@ec756bd]">updateUser</td> 
  <td>main@1923598304</td>   <td></td> </tr>
</table>
